extends ../layout

block nav_bg
  nav.navbar.navbar-space

block content
  .container
    h1 Sign up for Airtng
    div #{message}
    form(action="/users",method="post")
      .form-group
        label Tell us your name:
        input.form-control(type='text', name="username", placeholder='Zingelbert Bembledack', required)
      .form-group
        label Enter Your E-mail Address:
        input.form-control(type='text', name="email", placeholder='me@mydomain.com', required)
      .form-group
        label Enter a password:
        input.form-control(type='password', name="password", required)
      .form-group
        label Employee ID:
        input.form-control(type='text', name="employeeId", required)
      button.btn.btn-primary(type='submit') Sign up
